@page
@model ClientProjet.Pages.MesConsoles.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Consoles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Consoles.Id" />
            <div class="form-group">
                <label asp-for="Consoles.Const" class="control-label"></label>
                <input asp-for="Consoles.Const" class="form-control" />
                <span asp-validation-for="Consoles.Const" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consoles.Name" class="control-label"></label>
                <input asp-for="Consoles.Name" class="form-control" />
                <span asp-validation-for="Consoles.Name" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a type="button" class="btn btn-primary" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
