@page
@model ClientProjet.Pages.NombreDeVente.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<h4>Consoles Disponibles</h4>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var console in Model.Consoles)
        {
            <tr>
                <td>@console.Id</td>
                <td>@console.Name</td>
            </tr>
        }
    </tbody>
</table>

<hr />
<h4>NombreVentes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NombreVentes.Id" />
            <div class="form-group">
                <label asp-for="NombreVentes.Nbventes" class="control-label"></label>
                <input asp-for="NombreVentes.Nbventes" class="form-control" />
                <span asp-validation-for="NombreVentes.Nbventes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVentes.Annee" class="control-label"></label>
                <input asp-for="NombreVentes.Annee" class="form-control" />
                <span asp-validation-for="NombreVentes.Annee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreVentes.ConsId" class="control-label"></label>
                <input asp-for="NombreVentes.ConsId" class="form-control" />
                <span asp-validation-for="NombreVentes.ConsId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
